#middle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#centered {
    display: flex;
    margin: auto;
    width: 50%;
}

#centered > a {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
}

#centered > a:link {
    color: #949494;
    text-decoration: none;
}

#centered > a:visited {
    color: #000000;
    text-decoration: none;
}

#centered > a:hover {
    color: #000000;
    text-decoration: underline;
}
